<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--<link rel="stylesheet" href="https://necolas.github.io/normalize.css/7.0.0/normalize.css">-->
    <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">
    <link rel="stylesheet" href="../public/css/style.css">

    <link rel="stylesheet" href="../public/css/banner.css">

    <link rel="stylesheet" href="../public/css/iconfont.css">
</head>

<body>
    <header class="head" id="heads">
        <div class="head_content">
            <div class="head_logo">
                <h1>码农工作室</h1>
            </div>
            <nav class="head_nav">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">成功案例</a></li>
                    <li><a href="#">关于工作室</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="banner__main" id="banner__main">
        <div class="banner" id="banner">
            <a href="javascript:;">
                <div class="banner-slide slide1 slide-active" style="display: block;"></div>
            </a>
            <a href="javascript:;">
                <div class="banner-slide slide2"></div>
            </a>
            <a href="javascript:;">
                <div class="banner-slide slide3"></div>
            </a>
        </div>
        <a href="javascript:;" class="banner__anchor icon__prev" id="prev">&lt;</a>
        <a href="javascript:;" class="banner__anchor icon__next" id="next">&gt;</a>
        <!-- <div class="buttons">
            <span class="buttons__active"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div> -->
        <div class="buttons" id="buttons">

        </div>

        <div class="Title">
        <h2>专注于WEB开发的一个团队</h2>
        <p>通过专业的团队设计,提供最优质的服务</p>
        <p>服务第一&nbsp;&nbsp;客户至上</p>
        </div>
    </div>

    <div class="need">
        <div class="need_Title">
                <h3>需求</h3>
                <p>What need do you have?</p>
                <div class="Title_line"></div>
        </div>
        <div class="need_list">
            <div class="list_bColor">
            <div class="list_need">
                <div class="list_icon">
                    <i class="iconfont icon-pc"></i>
                </div>
                <p>企业官网搭建</p>
                <div class="icon_line">
                </div>
                <p class="need_text">专注于高品质视觉体验及互联网设计开发</p>
            </div>
        </div>

            <div class="list_bColor">
                <div class="list_need">
                    <div class="list_icon">
                        <i class="iconfont icon-pc"></i>
                    </div>
                    <p>企业官网搭建</p>
                    <div class="icon_line">
                    </div>
                    <p class="need_text">专注于高品质视觉体验及互联网设计开发</p>
                </div>
            </div>

            <div class="list_bColor">
                <div class="list_need">
                    <div class="list_icon">
                        <i class="iconfont icon-pc"></i>
                    </div>
                    <p>企业官网搭建</p>
                    <div class="icon_line">
                    </div>
                    <p class="need_text">专注于高品质视觉体验及互联网设计开发</p>
                </div>
            </div>

            <div class="list_bColor">
                <div class="list_need">
                    <div class="list_icon">
                        <i class="iconfont icon-pc"></i>
                    </div>
                    <p>企业官网搭建</p>
                    <div class="icon_line">
                    </div>
                    <p class="need_text">专注于高品质视觉体验及互联网设计开发</p>
                </div>
            </div>

            <div class="list_bColor">
                <div class="list_need">
                    <div class="list_icon">
                        <i class="iconfont icon-pc"></i>
                    </div>
                    <p>企业官网搭建</p>
                    <div class="icon_line">
                    </div>
                    <p class="need_text">专注于高品质视觉体验及互联网设计开发</p>
                </div>
            </div>



        </div>
    </div>

    <div class="slogan">
        <p>oneoneoneoneoneoneoneoneoneoneoneoneoneoneone</p>
    </div>

    <div class="need">
        <div class="need_Title">
            <h3>需求</h3>
            <p>What need do you have?</p>
            <div class="Title_line"></div>
        </div>
        <div class="need_list">
            <div class="list_bColor">
                <div class="list_need">
                    <div class="list_icon">
                        <i class="iconfont icon-pc"></i>
                    </div>
                    <p>企业官网搭建</p>
                    <div class="icon_line">
                    </div>
                    <p class="need_text">专注于高品质视觉体验及互联网设计开发</p>
                </div>
            </div>

            <div class="list_bColor">
                <div class="list_need">
                    <div class="list_icon">
                        <i class="iconfont icon-pc"></i>
                    </div>
                    <p>企业官网搭建</p>
                    <div class="icon_line">
                    </div>
                    <p class="need_text">专注于高品质视觉体验及互联网设计开发</p>
                </div>
            </div>

            <div class="list_bColor">
                <div class="list_need">
                    <div class="list_icon">
                        <i class="iconfont icon-pc"></i>
                    </div>
                    <p>企业官网搭建</p>
                    <div class="icon_line">
                    </div>
                    <p class="need_text">专注于高品质视觉体验及互联网设计开发</p>
                </div>
            </div>

            <div class="list_bColor">
                <div class="list_need">
                    <div class="list_icon">
                        <i class="iconfont icon-pc"></i>
                    </div>
                    <p>企业官网搭建</p>
                    <div class="icon_line">
                    </div>
                    <p class="need_text">专注于高品质视觉体验及互联网设计开发</p>
                </div>
            </div>

            <div class="list_bColor">
                <div class="list_need">
                    <div class="list_icon">
                        <i class="iconfont icon-pc"></i>
                    </div>
                    <p>企业官网搭建</p>
                    <div class="icon_line">
                    </div>
                    <p class="need_text">专注于高品质视觉体验及互联网设计开发</p>
                </div>
            </div>



        </div>
    </div>

    <div class="link">
        <div class="link_ul">
            <div class="link_ul_list">
                <h3>服务与支持</h3>
                <ul>
                    <li><a href="#">贴心服务</a></li>
                    <li><a href="#">索取发票</a></li>
                    <li><a href="#">新手学堂</a></li>
                    <li><a href="#">贴心服务</a></li>
                </ul>
            </div>
            <div class="link_ul_list">
                <h3>服务与支持</h3>
                <ul>
                    <li><a href="#">贴心服务</a></li>
                    <li><a href="#">索取发票</a></li>
                    <li><a href="#">新手学堂</a></li>
                    <li><a href="#">贴心服务</a></li>
                </ul>
            </div>
            <div class="link_ul_list">
                <h3>服务与支持</h3>
                <ul>
                    <li><a href="#">贴心服务</a></li>
                    <li><a href="#">索取发票</a></li>
                    <li><a href="#">新手学堂</a></li>
                    <li><a href="#">贴心服务</a></li>
                </ul>
            </div>
            <div class="link_ul_list">
                <h3>服务与支持</h3>
                <ul>
                    <li><a href="#">贴心服务</a></li>
                    <li><a href="#">索取发票</a></li>
                    <li><a href="#">新手学堂</a></li>
                    <li><a href="#">贴心服务</a></li>
                </ul>
            </div>
            <div class="link_ul_list">
                <h3>服务与支持</h3>
                <ul>
                    <li><a href="#">贴心服务</a></li>
                    <li><a href="#">索取发票</a></li>
                    <li><a href="#">新手学堂</a></li>
                    <li><a href="#">贴心服务</a></li>
                </ul>
            </div>

        </div>
    </div>
    <footer class="footer">
        <p>&copy;2017 Xiaotian.com 版权所有</p>
    </footer>

    <div class="scrollTop" id="scrollTop">
        <i class="iconfont icon-huojian srcollIcon"></i>
    </div>

   <!--<script src="../public/libs/jquery/dist/jquery.js"></script>-->
    <script src="../public/js/base.js"></script>
    <script src="../public/js/banner.js"></script>
    <script src="../public/js/animated.js"></script>
</body>

</html>