.head{
  position: fixed;
  width: 100%;
  background: transparent;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  .head_content{
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    .head_logo{
      width: 150px;
      height: 35px;
      margin-top: 7.5px;
    }
  }
}


.head_black{
  //background: #0099FF;
  background: #000;
}