// layout

.head{
    position: fixed;
    width: 100%;
    background: transparent;
    .head_content{
        width: 1000px;
        height: 50px;
        margin: 0 auto;
        .head_logo{
            width: 150px;
            height: 35px;
            margin-top: 7.5px;
        }
    }   
}
.wrapper{
    min-width: 1000px;
    // height: 500px;
    .Title{
        width: 100%;
    }
}

.need{
    margin-top: 100px;
    margin-bottom: 100px;
    .need_Title{
        width: 370px;
        height: 130px;
        margin: 20px auto 0 auto;
    }
    .need_list{
        width: 1000px;
        height: 150px;
        margin: 30px auto 0;
        .list_need{
            width: 230px;
            height: 150px;
            float: left;
            margin: 0 10px ;
        }
    }
}
.slogan{
    width: 100%;
    height: 80px;
    background: #eee;
    p{
        text-align: center;
        line-height: 80px;
        font-size: 16px;
    }
}

.link{
    width: 100%;
    height: 200px;
    background: #373d41;
    .link_ul{
        width: 1000px;
        height: 200px;
        margin:0 auto;
        .link_ul_list{
            width: 200px;
            height: 200px;
            overflow: hidden;
            float: left;
            h3{
                margin: 30px 0 0 0;
                text-align: center;
                color: #d7d8d9;
                font-size: 16px;
            }
            ul{
                margin: 10px 0 0 0;
                padding:0;
                li{
                    list-style: none;
                    text-align: center;
                    line-height: 30px;
                    a{
                        text-decoration: none;
                        color: #9b9ea0;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.footer{
    width: 100%;
    height: 50px;
    background: #373d41;
    border-top: 1px solid #646667;
    overflow: hidden;
    p{
        color: #d7d8d9;
        font-size: 14px;
        text-align: center;
    }
}