// layout

.head{
    position: fixed;
    width: 100%;
    background: transparent;
    .head_content{
        width: 1000px;
        height: 50px;
        margin: 0 auto;
        .head_logo{
            width: 150px;
            height: 35px;
            margin-top: 7.5px;
        }
    }   
}
.wrapper{
    min-width: 1000px;
    // height: 500px;
    .Title{
        width: 100%;
    }
}

.need{
    .need_Title{
        width: 370px;
        height: 130px;
        margin: 20px auto 0 auto;
    }
    .need_list{
        width: 1000px;
        height: 200px;
        margin: 0 auto;
        .list_need{
            width: 230px;
            height: 150px;
            float: left;
            margin: 0 10px ;
        }
    }
}